body {
    margin: 0;
    height: 100vh; /* Занимает всю высоту viewport */
    background-image: url('menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
