body {
    margin: 0;
    background-image: url('components/mainMenu/menu.png'); /*  Замените 'your_image.jpg' на путь к вашей картинке */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
 /*   color: #fff; Цвет текста, если хотите светлый текст на темной картинке */
}
