body {
    margin: 0;
    color: #6a6f8c;
    background-image: url('menu.jpg');
    background-size: cover; /* Растягивает изображение, чтобы покрыть всю область */
    background-repeat: no-repeat; /* Отключает повторение фона */
    background-position: center; /* Центрирует фон */
}
